/*
Theme Name: Foonly
Theme URI: http://foonly.fi/
Author: Niklas Schönberg
Author URI: http://foonly.fi/
Description: A custom theme for foonly.fi
Version: 0.1
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, white, dark, light, custom-background,

Foonly WordPress Theme, Copyright 2015 foonly.fi
Foonly is distributed under the terms of the GNU GPL
*/

@import url(http://fonts.googleapis.com/css?family=Raleway:400,200,700);

html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    font-family: 'Raleway', sans-serif;
    font-weight: 200;
}
html {
    height:100%;
}
body {
    background-color: #6d6c6b;
    min-height:100%;
    line-height: 1;
    overflow: hidden;
}

article, aside, details, figcaption, figure, footer, header, menu, nav, section {
    display: block;
}

nav ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

a {
    margin: 0;
    padding: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
    text-decoration: inherit;
    transition: color .3s;
}
a:hover {
    color: #333399;
}

h1, h2, h3, h4, h5 {
    margin-top: 10px;
    margin-bottom: 4px;
    font-weight: 400;
}
h1 {
    font-size: 2em;
}
h2 {
    font-size: 1.5em;
}
h3 {
    font-size: 1.2em;
}

p {
    margin-top: 10px;
}

/* Header */
#header {
    height: 400px;
    color: #ffffff;
    position: relative;
}
#header div#headtitle {
    background-color: rgba(0,0,0,.8);
    display: block;
    width: 300px;
    margin: auto;
    padding: 20px;
    position: absolute;
    top: 65px;
    z-index: 0;
}
#header.front {
    min-height:100vh;
}
#header.front img#downarrow {
    position: absolute;
    bottom: 32px;
    left: 50%;
    margin-left: -32px;
    width: 64px;
    opacity: .5;
}
#header.front div#headtitle {
    top: 130px;
}

#sidebar-front {
    position: absolute;
    top: 60px;
    right: 30px;
}

/* Footer */

#footer {
    position: absolute;
    left: 0px;
    right: 0px;
    bottom: 0px;
    height: 16px;
    padding: 8px;
    background-color: #000000;
    color: #ffffff;
    text-align: center;
}


/* Sections */

section#main {
    position: relative;
    background-color: rgba(255,255,255,1);
    min-height: 100vh;
    border-top: 40px solid black;
}
section#page {
    max-width: 730px;
    margin: auto;
    position: relative;
    border-left: 1px solid #F0F0FF;
    border-right: 1px solid #F0F0FF;
    padding: 4px 8px;
    padding-bottom: 100px;
}
section#page header {
    margin-top: -50px;
    color: #ffffff;
    height: 40px;
    padding: 6px;
}
section#content a {
    text-decoration: underline;
}
section#page h2 a, section#page h3 a, section#page h4 a, section#page #page_menu a {
    text-decoration: none;
}

#page_menu {
    width: 100%;
}
#page_menu li {
    margin: 4px;
    padding: 4px 12px;
    background-color: rgba(240,240,240,.7);
}

/* Page */
#leftside, #rightside {
    position: absolute;
    top: 20px;
    width: 270px;
}
#leftside {
    left: -285px;
}
#rightside {
    right: -285px;
}


#featured_image {
    width: 100%;
    background-size: cover;
    background-position: center;
}

/* Tags */
.tag-list li {
    list-style: none;
    display: inline;
    font-size: 0.7em;
    color: rgba(0,0,0,.5);
    background-color: rgba(200,200,200,.5);
    border-radius: 3px;
    padding: 3px;
}
section#content .tag-list li a {
    text-decoration: none;
}

/* Categories */
.category-list li {
    list-style: none;
    display: inline;
    color: rgba(0,0,0,.8);
    background-color: rgba(200,200,200,.1);
    border-radius: 3px;
    padding: 3px;
    margin: 4px;
}
section#content .category-list li a {
    text-decoration: none;
}


/* Widget */
.widget {

}
.widget h2 {
    padding-left: 25px;
    border-bottom: 1px solid #000000;
}
.widget li {
    list-style: none;
    padding-left: 15px;
}
.widget li a {
    text-decoration: none;
}


/* Generic */
.column {
    min-width: 250px;
    width: 45%;
    padding: 6px;
    float: left;
    margin-bottom: 30px;
}
.clear {
    clear: both;
}
.read-more {
    display: block;
    color: #333399;
}
.read-more:after {
    content: " >>";
}
.author {
    color: #555555;
    padding: 4px;
    padding-left: 12px;
}
.alignright {
    float: right;
}
.alignleft {
    float: left;
}
.aligncenter {
    display: block;
    margin: auto;
}

/* Parallax */

#parallax {
    perspective: 1px;
    height: 100vh;
    overflow-x: hidden;
    overflow-y: auto;
}
.parallax {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
}
#bglayer {
    transform: translateZ(-1px) scale(2);
    background-size: cover;
    background-position: center center;
}
#fglayer {
    transform: translateZ(0px);
}

/* Media queries */
@media (max-width: 1280px) {
    #leftside, #rightside {
        width: 120px;
    }
    #leftside {
        left: -120px;
    }
    #rightside {
        right: -120px;
    }
}



@media (max-width: 1080px) {
    #leftside aside, #rightside aside {
        display: none;
    }
    #page_menu {
        position: absolute;
        padding-top: 0px;
        width: 600px;
        top: -80px;
        left: 120px;
        right: 0px;
    }
    #page_menu li {
        background-color: transparent;
        color: #ffffff;
        display: inline;
    }
    #page_menu li li {
        display: none;
    }
}
@media (max-width: 640px) {
    .column {
        min-width: 250px;
        width: 100%;
        float: none;
    }

}
