<article>
    {% if page != "single" %}
        <h2><a href="{{ post.permalink }}">{{ post.title }}</a></h2>
    {% endif %}
    <div class="author">
        {{ post.display_date }} / {{ post.author }}
    </div>
    <ul class="category-list">
        {% for cat in post.categories %}
            <li><a href="{{cat.link}}">{{cat.name}}</a></li>
        {% endfor %}
    </ul>
    {{ post.content }}
    <ul class="tag-list">
        {% for tag in post.tags %}
            <li><a href="{{tag.link}}">{{tag.name}}</a></li>
        {% endfor %}
    </ul>
</article>
