{% extends 'head.twig' %}
{% block body %}
    <header id="header" class="header_small">
        <div id="headtitle">
            <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
            {{ site.description }}
        </div>
    </header>

    <section id="main">
        <section id="page">
            {% include "side.twig" %}
            <section id="content">
                {% block content %}{% endblock %}
            </section>
        </section>
    </section>

{% endblock %}