{% extends 'base.twig' %}
{% block content %}
    <header>
        <h2>{{ archive_title }}</h2>
    </header>
    <p>{{ archive_description }}</p>

    {% for post in posts %}
        {% include "article.twig" %}
        <hr/>
    {% endfor %}


{% endblock %}