{% extends 'head.twig' %}
{% block body %}
    <header id="header" class="front">
        <div id="headtitle">
            <h1><a href="{{ site.url }}">{{ site.title }}</a></h1>
            {{ site.description }}
        </div>
        <div id="sidebar-front">
            {{ sidebarfront }}

        </div>
        <img id="downarrow" src="{{ theme.path }}/img/arrow-16-512.png" alt=""/>
    </header>

    <section id="main">
        <section id="page">
            {% include "side.twig" %}
            <section id="content">
                <header>
                    <h2>{{ post.title }}</h2>
                </header>
                <div class="column column-left">
                    {{ post.content }}
                </div>
                <div class="column column-right">
                    <h2>Blog Posts</h2>
                    {% for post in posts %}
                        <article class="">
                            <h3><a href="{{ post.permalink }}">{{ post.title }}</a></h3>
                            <div class="author">
                                {{ post.display_date }} / {{ post.author }}
                            </div>
                            <ul class="category-list">
                                {% for cat in post.categories %}
                                    <li><a href="{{cat.link}}">{{cat.name}}</a></li>
                                {% endfor %}
                            </ul>
                            {{post.get_preview(25)}}
                        </article>
                    {% endfor %}
                </div>
                <br class="clear"/>
            </section>
        </section>

    </section>
{% endblock %}