<!DOCTYPE html>
<html>
    <head>
        <meta charset="{{ site.charset }}">
        <meta name="viewport" content="width=device-width">
        <title>{{ site.title }}</title>
        <link rel="pingback" href="{{ site.pingback_url }}">
        {{ function('wp_head') }}
    </head>
    <body id="body" {{ function('body_class') }} >
        <style>
            #bglayer {
                background-image: url({{ header }});
            }
        </style>
        <div id="parallax">
            <div id="bglayer" class="parallax"></div>
            <div id="fglayer">
                {% block body %}{% endblock %}
                <footer id="footer">
                    Hello World
                </footer>
            </div>
        </div>
    </body>
</html>