{% extends 'base.twig' %}
{% block content %}
    <header>
        <h2>Blog</h2>
    </header>
    {% for post in posts %}
        {% include "article.twig" %}
        <hr/>
    {% endfor %}

{% endblock %}