<aside id="leftside">
    <nav id="page_menu">
        {% include "menu.twig" %}
    </nav>
    {{sidebarleft}}
</aside>
<aside id="rightside">
    {% if post.thumbnail.get_src %}
        <aside>
            <img id="featured_image" style="background-image: url({{ post.thumbnail.get_src|resize(500) }});" src="{{ theme_url }}/img/frame.png" alt="" title="{{ post.thumbnail.caption }}" />
        </aside>
    {% endif %}
    {{sidebarright}}
</aside>

